@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css?family=Gabriela);

body {
  
  font-family: sans-serif;
  text-align: justify;
  background-image: url(flower.jpg);
  background-repeat: no-repeat ;
  text-align:center ;
  background-color: darkgray;
}

h1 {
  margin: 0;
  color: hwb(0 56% 44%);
  font-family: "Cabin Sketch";
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  font-family: "Gabriela";
  font-size: 2rem;
}

div.estrofa{
border:hwb(300 0% 55%) 3px solid;
border-radius: 10px 0;
margin: 10px 50px;
background-color: rgb(9, 117, 136) ;
color: antiquewhite;
}

div.estribillo{
  border:hwb(2 1% 35%) 3px solid;
  border-radius: 20px 0;
  margin: 10px 50px;
  background-color: rgb(0, 97, 21) ;
  color: antiquewhite;
  }
  img{
    width: 100px;
    height: 100px;
}